[Unit]
Description=TG Ringer Web App (FastAPI + WebSocket)
After=network.target

[Service]
Type=simple
##User=www-data
WorkingDirectory=/var/www/tgringer
ExecStart=/var/www/tgringer/.venv/bin/uvicorn server.app:app --host 0.0.0.0 --port 91
Restart=always
RestartSec=3
Environment=PYTHONPATH=/var/www/tgringer

[Install]
WantedBy=multi-user.target
